<launch>
  <arg name="bag_filenames" value="/bag/2021-02-18-23-30-31.bag" doc="bag file"/>
  <arg name="pose_graph_filename" value="/bag/2021-02-18-23-30-31.bag.pbstream" doc="pbstream file "/>
  <node name="cartographer_assets_writer" pkg="cartographer_ros" required="true"
      type="cartographer_assets_writer" args="
          -configuration_directory $(find ouster_slam)/configuration_files
          -configuration_basename assets_writer_backpack_3d.lua
          -urdf_filename $(find ouster_slam)/urdf/os_sensor.urdf
          -bag_filenames $(arg bag_filenames)
          -pose_graph_filename $(arg pose_graph_filename)"
      output="screen">
  </node>
</launch>
