<launch>
  <arg name="bag_filenames" default="/home/toni/.ros/2021-04-06-17-33-57.bag"/>
  <arg name="no_rviz" default="false"/>
  <arg name="rviz_config" default="$(find drone_simulation)/config/config.rviz"/>
  <arg name="configuration_directory" default="$(find drone_simulation)/configuration_files"/>
  <arg name="configuration_basenames" default="os1_16.lua"/>
  <arg name="urdf_filenames" default="$(find drone_simulation)/urdf/drone.urdf"/>
  <arg name="launch_prefix" default=""/>

  <include file="$(find cartographer_ros)/launch/offline_node.launch">
    <arg name="bag_filenames" value="$(arg bag_filenames)"/>
    <arg name="no_rviz" value="$(arg no_rviz)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="configuration_directory" value="$(arg configuration_directory)"/>
    <arg name="configuration_basenames" value="$(arg configuration_basenames)"/>
    <arg name="urdf_filenames" value="$(arg urdf_filenames)"/>
    <arg name="launch_prefix" value="$(arg launch_prefix)"/>
  </include>
</launch>
